.form {
    border: 1px solid #ccc;
    background:rgb(255, 255, 255);
    margin: 12px 0;
    padding: 8px;
}

.inputlist {
    display: grid;
    grid-template-columns: 180px 1fr 32px;
    grid-template-areas: 
        "label input icon";
    row-gap: 5px;
}

.inputlist .labelwrapper { 
    grid-area: label;
    position: relative;
    width: auto;
    margin: 3px 0;
    padding: 0 40px 0 8px;
    border-left: 3px solid #ddd;
    background-color: rgb(247, 247, 247);
}

.inputlist .labelwrapper label {
    font-size: 90%;
}

.inputlist div.inputwrapper {
    grid-area: input; 
    position: relative;  
}

.inputlist .labelwrapper.required label::after {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 1.5em;
    color: red;
    content: "*";
}

.inputlist.lookup::after {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    content: "*";
}

.inputlist div.inputwrapper input, 
.inputlist div.inputwrapper output, 
.inputlist div.inputwrapper textarea, 
.inputlist div.inputwrapper select, 
.inputlist div.inputwrapper button { 
    font: 90%;
    width: 100%;
    margin: 3px 3px 3px 0;
    padding: 3px 8px;
}

.inputlist div.inputwrapper input[type="checkbox"],
.inputlist div.inputwrapper input[type="radio"] {
    width: auto;
    margin: 5px;
}

.lookup-dialog {
    display: none;
    position: absolute;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    top: 35px;
    width: 100%;
    /* background: #fff; */
    border: 1px solid #ccc;
    /* border-radius: 0; */
}

.inputlist .icon {
    grid-area: icon;
}

.inputlist.lookup .icon {
    background: center no-repeat url(../images/ico-lookup-32.svg);
    background-size: 21px;
}

/* This is the style for the invalid fields */
input:invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* This is the style of error messages */
  .error {
    width  : 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }

  
@media screen and (max-width: 750px) {
    .inputlist {  
        grid-template-columns: 1fr 32px;          
        grid-template-areas: 
            "label label"
            "input icon";
    }
    
    .inputlist .labelwrapper { 
        margin-top: o;
        padding-left: 0;
        border: none;
        background-color: white;
    }
    

    .inputlist .inputwrapper { 
        margin-top: 0;
        padding-left: 0;
    }

}
